# Environments
.venv/
env/
venv/
ENV/

# Dependencies
node_modules/
**/__pycache__/
*.pyc

# Build artifacts
frontend/.next/
frontend/out/
build/
dist/

# Data and Models
backend/data/*
!backend/data/baseline_data.csv
backend/models/
*.csv
!backend/data/baseline_data.csv
*.joblib
*.pkl

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
